.Result-container{
    background-color : #f2f2f2;
    padding : 30px 40px;
    white-space: pre-line;
    text-align: left;
    width : 83vw;
}

.pageName{
    font-weight: 650;
    font-size : 20px;
}

.main{
    background-color: #ffffff;
    border-radius: 20px;
    padding : 36px 57px;
    text-align : center;
    margin : 40px 0px;
}

.header-text{
    font-weight : 600;
}

.type {
    font-weight : 800;
    color : #6425FE;
}

.typeTable{
    width : 600px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.comment{
    text-align: left;
}

.comment-title{
    font-size : 18px;
    font-weight : 600;
}

.comment  p {
    font-size : 15px;
    font-weight : 400;
}

.comment > .annomitation {
    font-size : 10px;
}